body {
	background-image: url(../images/confectionary.png);
}

h1 {
	text-align: center;
}

ul {
	padding: 0 60px;
	background-color: lightblue;
}

#game {
	border: 3px solid purple;
}

h4 {
	text-align: center;

}
.col-sm-3 {
	background-color: pink;
	padding: 10px;
	border: 2px solid black;
	padding: 10px 20px;
	margin: 0px 30px;
}

#randomNumber,
#userTotal {
	font-size: 35px;
	text-align: center;
}

#buttons {
	clear: both;
	text-align: center;
}
